<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://120.24.6.175:45678/weixin.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://beta.gtimg.com/rdmimg/exp/page-img/default-icon.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>ni8m.cp3rue.1baeet5a.app1</string>
                    <key>bundle-version</key>
                    <string>6.3.6.16</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
